/* Search Button */
#search-addon {
    background-color: inherit;
}

/* Student Image */
#Student-image {
    width: 120px;
    height: 120px;
}

/* Offcanvas Trigger */
.navbar-toggler {
    margin-right: 20px;
}

/* Offcanvas */
.offcanvas {
    width: 300px;
}
.active {
    background-color: #3b3939 !important;
    color: #ffffff !important;
}
.active:hover {
    background-color: rgba(59, 57, 57, 0.164) !important;
    color: #000000 !important;
}
.nav-link {
    padding-left: 15px;
}
.nav-link {
    color: #000000;
}
.nav-link:visited, .nav-link:hover {
    background-color: rgba(59, 57, 57, 0.164)!important;
    color: #000000;
}
.sublist {
    margin: auto;

}
.fa-solid {
    margin-left: 10px;
}
.offcanvas-body {
    border-top: 1px solid rgba(59, 57, 57, 0.164);
}
.offcanvas-footer {
    padding: 12px;
    border-top: 1px solid rgba(59, 57, 57, 0.164);
}
.btn-footer {
    background-color: #000000;
    float: right;
}